<mat-sidenav-container class="wrapper" [class.dark-theme]="store.isDarkTheme" autosize>
  <mat-sidenav
    class="sidebar"
    [mode]="store.isPhoneScreen || store.isTabletScreen ? 'over' : 'side'"
    [opened]="store.isNavOpened"
    (openedChange)="store.isNavOpened = $event"
    [class.collapsed-side]="isNavCollapsed"
  >
    <div class="sidenav-container">
      <div class="btn-compose" routerLink="/new" (click)="closeMobileNav()">
        <mat-icon>create</mat-icon>
        New
      </div>

      <mat-divider></mat-divider>

      <mat-nav-list style="flex: 1;">
        <a
          mat-list-item
          routerLink="/edit"
          [routerLinkActive]="'is-active'"
          (click)="closeMobileNav()"
        >
          <mat-icon>notes</mat-icon>
          List
        </a>

        <a
          mat-list-item
          routerLink="/"
          [routerLinkActive]="'is-active'"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="closeMobileNav()"
        >
          <mat-icon>view_module</mat-icon>
          Grid
        </a>

        <a
          mat-list-item
          routerLink="/trash"
          [routerLinkActive]="'is-active'"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="closeMobileNav()"
        >
          <mat-icon>delete</mat-icon>
          Trash
        </a>

        <mat-divider></mat-divider>

        <a
          mat-list-item
          *ngFor="let tag of store.tags"
          [routerLink]="'/tag/' + tag"
          [routerLinkActive]="'is-active'"
          [matTooltip]="tag"
          [matTooltipShowDelay]="500"
          (click)="closeMobileNav()"
        >
          <mat-icon>local_offer</mat-icon>
          <div class="tag-name">{{ tag }}</div>
        </a>
      </mat-nav-list>

      <mat-divider></mat-divider>

      <mat-nav-list>
        <div mat-list-item class="theme-slider">
          <mat-slide-toggle [color]="'accent'" (change)="onChangeTheme($event)" [checked]="store.isDarkTheme">
            Dark theme
          </mat-slide-toggle>
        </div>

        <a mat-list-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          Log out
        </a>
      </mat-nav-list>

      <mat-divider></mat-divider>

      <div class="nav-expander" (click)="collapseNav()">
        <mat-icon>{{ isNavCollapsed ? 'keyboard_arrow_right' : 'keyboard_arrow_left' }}</mat-icon>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <mat-progress-bar mode="indeterminate" *ngIf="store.isLoading"></mat-progress-bar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
