@import 'src/assets/styles/theme.scss';

.toolbar {
  padding: 0 10px;
}

.mat-toolbar-row {
  padding: 0;

  div {
    display: flex;
    width: 100%;
    align-items: center;
  }
}

.title {
  border-radius: 8px;
  border: 1px solid $border-color;
  width: 100%;
  background-color: $input-background-color;
  display: flex;
  align-items: center;
  height: $input-height;
  padding-left: 5px;
  transition: box-shadow 0.30s ease-in-out;
  margin-left: 20px;

  &:focus-within {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  input {
    width: 100%;
    padding: 5px;
    margin-right: 10px;
    outline: none;
    border: none;
    font: 400 20px/20px Roboto, "Helvetica Neue", sans-serif;
  }
}

.btn-close {
  margin-right: 10px;
}

@media (max-width: 599px) {
  .toolbar {
    height: $toolbar-height * 2;
  }

  .title {
    margin-left: 0;
  }
}
