<mat-toolbar class="toolbar" *ngIf="!store.isPhoneScreen">
  <!-- <button
    class="btn btn-close"
    (click)="onCloseNew()"
    #closeBtn
    *ngIf="this.isModal"
  >
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button> -->

  <div class="buttons">
    <button
      class="btn"
      (click)="onNew()"
      *ngIf="!this.isModal"
    >
      <mat-icon>edit</mat-icon>
    </button>

    <button class="btn" (click)="onSave()">
      <mat-icon>save</mat-icon>
    </button>

    <button class="btn" (click)="onTogglePreview()">
      <mat-icon>chrome_reader_mode</mat-icon>
    </button>

    <button class="btn" (click)="selectTag()">
      <mat-icon>local_offer</mat-icon>
    </button>
  </div>

  <div class="title">
    <input #titleInput [ngModel]="title" (ngModelChange)="onChangeTitle($event)" placeholder="Note...">
  </div>

  <button class="btn" (click)="onDel()" style="margin-left: 20px;" tabindex="-1">
    <mat-icon>{{ isDelConfirm ? 'check' : 'delete' }}</mat-icon>
  </button>
</mat-toolbar>

<mat-toolbar class="toolbar" *ngIf="store.isPhoneScreen">
  <mat-toolbar-row>
    <div>
      <button
        *ngIf="store.isPhoneScreen || store.isTabletScreen"
        mat-icon-button
        style="margin-right: 12px;"
        (click)="store.toggleNav()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <div class="buttons">
        <button class="btn" (click)="onNew()" *ngIf="!this.isModal">
          <mat-icon>edit</mat-icon>
        </button>

        <button class="btn" (click)="onSave()">
          <mat-icon>save</mat-icon>
        </button>

        <button class="btn" (click)="onTogglePreview()">
          <mat-icon>chrome_reader_mode</mat-icon>
        </button>

        <button class="btn" (click)="selectTag()">
          <mat-icon>local_offer</mat-icon>
        </button>
      </div>

      <div fxFlex></div>

      <button class="btn" (click)="onDel()">
        <mat-icon>{{ isDelConfirm ? 'check' : 'delete' }}</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
  
  <mat-toolbar-row>
    <div class="title">
      <input #titleInput [ngModel]="title" (ngModelChange)="onChangeTitle($event)" placeholder="Note...">
    </div>
  </mat-toolbar-row>
</mat-toolbar>
