@import './assets/styles/theme.scss';
@include mat-core();
@include angular-material-theme($deck-theme);

/* GLOBAL */

* { box-sizing: border-box; }
// html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-icon {
  user-select: none;
}

mat-progress-bar {
  position: absolute !important;
  z-index: 999;
  top: 0;
}
