/**
 * THEME
 * https://material.io/design/color/
 */
@import '~@angular/material/theming';

$deck-palette: (
  50 : #e7e9eb,
  100 : #c2c8cc,
  200 : #9aa4aa,
  300 : #718088,
  400 : #52646f,
  500 : #344955,
  600 : #2f424e,
  700 : #273944,
  800 : #21313b,
  900 : #15212a,
  A100 : #6dbeff,
  A200 : #3aa7ff,
  A400 : #0791ff,
  A700 : #0083ec,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$deck-primary: mat-palette($deck-palette);
$deck-accent: mat-palette($mat-orange, A200, A100, A400);
$deck-warn: mat-palette($mat-red);
$deck-theme: mat-light-theme($deck-primary, $deck-accent, $deck-warn);


/* VARIABLES */

$wrapper-background-color: mat-color($deck-primary, 50);
$sidebar-background-color: mat-color($deck-primary, 500);
$sidebar-font-color: #d5e4e6;
$editor-background-color: #fff;
$grid-background-color: mat-color($deck-primary, 50);
$toolbar-height: 48px;
$button-background-color: #fff;
$border-color: mat-color($deck-primary, 100);
$card-background-color: #fff;
$input-background-color: #fff;
$datetime-font-color: gray;
