/**
 * THEME
 * https://material.io/design/color/
 */
@import '~@angular/material/theming';

$deck-palette: (
  50 : #e7e9eb,
  100 : #c2c8cc,
  200 : #9aa4aa,
  300 : #718088,
  400 : #52646f,
  500 : #344955,
  600 : #2f424e,
  700 : #273944,
  800 : #21313b,
  900 : #15212a,
  A100 : #6dbeff,
  A200 : #3aa7ff,
  A400 : #0791ff,
  A700 : #0083ec,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$deck-primary: mat-palette($deck-palette);
$deck-accent: mat-palette($mat-orange, A200, A100, A400);
$deck-warn: mat-palette($mat-red);
$deck-theme: mat-light-theme($deck-primary, $deck-accent, $deck-warn);


/* VARIABLES */

$wrapper-background-color: mat-color($deck-primary, 50);
$sidebar-background-color: mat-color($deck-primary, 500);
$sidebar-font-color: #d5e4e6;
$editor-background-color: #fff;
$grid-background-color: mat-color($deck-primary, 50);
$toolbar-height: 58px;
$input-height: 42px;
$button-background-color: #fff;
$border-color: mat-color($deck-primary, 100);
$card-background-color: #fff;
$input-background-color: #fff;
$datetime-font-color: gray;

$dark-background-color: #161616;
$dark-sidebar-color: #0F0F0F;
$dark-font-color: white;
$dark-border-color: #2b2b2b;
$dark-input-color: #363636;


/* STYLES */

markdown h1,
markdown h2,
markdown h3 {
  border-left: 2px solid mat-color($deck-accent, 200);
  padding-left: 15px;
}

.toolbar {
  position: sticky;
  top: 0;
  height: $toolbar-height;
}

.btn {
  background-color: $button-background-color;
  height: 42px;
  width: 48px;
  border: 1px solid $border-color;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: -1px;
  border-radius: 6px;

  &:hover {
    background-color: mat-color($deck-accent, 200) !important;
    color: black;
  }

  &:active {
    background-color: mat-color($deck-accent, 400) !important;
    color: black;
  }
}

.buttons {
  display: inline-flex;

  .btn {
    border-radius: 0;
  }

  .btn:first-child {
    border-radius: 6px 0 0 6px;
  }

  .btn:last-child {
    border-radius: 0 6px 6px 0;
  }
}

.mat-toolbar {
  padding: 0 10px;
}

.btn-compose-fab {
  display: none;
}

.dialog-container .mat-dialog-container {
  padding: 12px;
}

.dark-theme {
  .grid-wrapper, .list-wrapper {
    background: $dark-background-color !important;
  }

  .markdown, textarea {
    background: $dark-background-color !important;
    color: $dark-font-color;
  }

  .list-wrapper {
    color: $dark-font-color;
    border-right: 1px solid $dark-border-color !important;

    .selected, .list-item:hover {
      color: black;
    }
  }

  .tags {
    background: $dark-background-color !important;
    border-top: 1px solid $dark-border-color !important;
  }

  .sidebar {
    background-color: $dark-sidebar-color !important;
  }

  .card {
    background-color: #202020 !important;
    color: $dark-font-color !important;
  }

  .toolbar {
    background-color: #202020 !important;

    mat-icon {
      color: white;
    }
  }

  .search, .title {
    background-color: $dark-input-color !important;
    border-color: $dark-border-color !important;
    color: $dark-font-color;

    input {
      background-color: $dark-input-color !important;
      color: $dark-font-color;
    }
  }

  .mat-nav-list .mat-list-item:hover {
    background: rgba(156, 156, 156, 0.1) !important;
  }

  .btn {
    background-color: $dark-input-color !important;
    border-color: $dark-border-color !important;
    color: $dark-font-color;
  }
}

@media (max-width: 959px) {
  .btn-compose-fab {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 10px;
  }
}
